[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pipenv-setup = "*"
autopep8 = "*"
pep8 = "*"
bandit = "*"
pytest = "*"

[packages]
hvac = "*"
click = "*"
e1839a8 = {path = "."}

[requires]
python_version = "3.6"
